{{#each data}}
  {{#if this._id}}
    <tr>
      <td>Current Forecast</td>
      <td>{{this.createdAt}}</td>
      <td>{{this.location}}</td>
      <td>Latitude: {{this.response.latitude}}  Longitude: {{this.response.longitude}}</td>
    </tr>
  {{/if}}
{{/each}}
